
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
.env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache/
.pytest_cache/

# PyCharm / VSCode
.idea/
.vscode/

# Data / results
data/
outputs/
figures/

# OS files
.DS_Store
Thumbs.db
