__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
build/
dist/
*.egg-info/
.eggs/
.venv/
.env/
.DS_Store
outputs/
data/

# local node modules for renderer
scripts/node_modules/
scripts/package-lock.json
